* { margin: 0; }

.wrapper {
  margin: 110px 243px;
  margin-bottom: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 95px;
}

.header > * {
  flex: 1 100%;
}

.header__title {
  font-family: 'PT Serif';
  font-weight: 700;
}

.about {
  max-width: 439px;

  font-family: 'Poppins';
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;

  color: #000;
}

.about__title {
  text-transform: uppercase;
}

.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 430px);
}

.team-card {
  position: relative;
  display: grid;
  grid-template-areas:
    "card-photo card-role"
    "card-name  card-name";
  grid-template-columns: 238px 30px;
  grid-template-rows: 341px 30px;
}

.team-card__photo {
  grid-area: card-photo;
  width: 238px;
  height: 100%;
  margin: 0;
}

.team-card__photo > img {
  width: 100%;
}

.team-card__name {
  grid-area: card-name;
  height: 30px;

  font-family: 'Poppins';
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #000;

  margin-top: 15px;
}

.team-card__role {
  grid-area: card-role;
  
}

.team-card__role > p {
  margin-left: 30px;
  width: 105px;
  transform-origin: 0 0;
  transform: rotate(90deg);

  font-family: 'PT Serif';
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;

  color: #000;
}

.footer {
  margin-top: 110px;

  display: flex;
  justify-content: center;

  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;

  color: #A9A9A9;
}

/**
 * MEDIA QUERIES
 */

@media all and (max-width: 599px) {
  .wrapper { margin: 71px 12px; }
  .header {
    flex-flow: column wrap;
    margin-bottom: 50px;
  }
  .header__title { margin-bottom: 40px; }
  .about {
    font-size: 14px;
    line-height: 21px;
    width: 100%;
  }
  .content {
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 230px);
  }
  .team-card {
    grid-template-columns: 140px 20px;
    grid-template-rows: 200px 20px;
  }
  .team-card:nth-child(2n) { margin-top: 50px; }
  .team-card__photo { width: 140px; height: 200px; }
  .team-card__name {
    font-size: 14px;
    line-height: 21px;
    margin-top: 5px;
  }
  .team-card__role {
    font-size: 10px;
    line-height: 13px;
  }
  .team-card__role > p {
    margin-left: 20px;
  }
}

@media (max-width: 800px), handheld and (orientation: landscape) {
  .wrapper { margin: 71px 10vw; }
  .content {
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .team-card:nth-child(2n) { margin-top: 50px; }
}

@media all and (min-width: 900px) {
  .team-card:nth-child(3n + 2) {
    margin-top: 50px;
  }  
}
