* { margin: 0; }

.wrapper {
  margin: 110px 243px;
}

header {
  display: flex;
  justify-content: space-between;
}

header > * {
  flex: 1 100%;
}

.page-title {
  font-family: 'PT Serif';
  font-weight: 700;
}

.about {
  width: 439px;

  font-family: 'Poppins';
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;

  color: #000;
}

.about > h4.title {
  text-transform: uppercase;
}

.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.card-photo {
  width: 238px;
  margin: 0;
}

.card-photo > img {
  width: 100%;
}

.team-card {
  position: relative;
}

.team-card .card-name {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;

  color: #000;
}

.team-card .card-role {
  position: absolute;
  top: 0;
  right: -30px;
  transform-origin: 0 0;
  transform: rotate(90deg);

  font-family: 'PT Serif';
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;

  color: #000;
}

@media all and (max-width: 599px) {
  .wrapper { margin: 71px 12px; }
  .wrapper header { flex-flow: column wrap; }
  .about {
    font-size: 14px;
    line-height: 21px;
  }
  .content {
    justify-content: center;;
    grid-template-columns: repeat(2, 1fr); }
  .team-card:nth-child(2n) { margin-top: 50px; }
  .card-photo { width: 140px; }
  .team-card .card-name {
    font-size: 14px;
    line-height: 21px;
  }
  .team-card .card-role {
    right: -50px;

    font-size: 10px;
    line-height: 13px;
  }
}

@media all and (min-width: 600px) {
  .team-card:nth-child(3n + 2) {
    margin-top: 50px;
  }  
}